h4 {
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
    font-family: sans-serif;
}

h5 {
    margin: 0px;
    padding: 5px;
    font-family: sans-serif;
    font-weight: normal;
    padding-bottom:0px;
}
table {
    margin: 5px;
    background-color: white;
    font-family: monospace;
}

input[type='text'], input[type='email']{
    width: 95%;
}

table,
td,
tr {
    border: 1.3px solid #aaa;
    border-collapse: collapse;
    padding: 3px;
}

th {
    background-color: lightgrey;
    font-weight: normal;
    border: 1px #aaa solid;
}

form{
    width: inherit;
}

div#root {
    background-color: black;
    width: 800px;
}

.boxed {
    border: 1.5px solid #aaa;
    width: 750px;
    margin: 10px;
    background-color: yellowgreen;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    overflow-x: auto; /* Add horizontal scroll to handle overflow */
  }

  .boxed2 {
    border: 1.5px solid #aaa;
    width: 415px;
    margin: 5px;
    background-color: yellowgreen;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    overflow-x: auto; /* Add horizontal scroll to handle overflow */
  }

.scroll{
    height: 200px;
    overflow: auto;
}

.small{
    font-size:.7em;
}

.selected {
    font-weight: bold;
}

table#customer-add-update tbody tr td.label{
    text-align: center;
}

#customer-list, table#customer-add-update {
    width: inherit;
    margin:0px;
    border: 0px;
}

#customer-list {
    width: max-content; /* Set the table width to maximum content size */
    table-layout: auto; /* Use auto table layout */
  }
  
  #customer-list th,
  #customer-list td {
    white-space: normal; /* Allow line breaks within table cells */
    overflow: visible; /* Show overflowing content */
    text-overflow: clip; /* Clip the content without ellipsis */
  }

  .center-aligned {
    text-align: center;
  }

  .error {
    font-weight: bold;
    color: red;
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
